 <!-- Наши главные качества-->
  <div class="section">
    <section class="qualities">
      <h2 class="visually-hidden">Наши качества</h2>
      <div class="container">
        <ul class="qualities-list list">
          <li class="qualities-item">
            <div class="qualities-icon-container">
              <svg class="qualities-icon" width="70" height="70">
                <use href="./images/icons.svg#icon-antenna"></use>
              </svg>
            </div>
            <h3 class="title">Внимание к деталям</h3>
            <p class="description">
              Идейные соображения, а также начало повседневной работы по формированию позиции.
            </p>
          </li>

          <li class="qualities-item">
            <div class="qualities-icon-container">
              <svg class="qualities-icon" width="70" height="70">
                <use href="./images/icons.svg#icon-clock"></use>
              </svg>
            </div>
            <h3 class="title">Пунктуальность</h3>
            <p class="description">
              Задача организации, в особенности же рамки и место обучения кадров влечет за собой.
            </p>
          </li>

          <li class="qualities-item">
            <div class="qualities-icon-container">
              <svg class="qualities-icon" width="70" height="70">
                <use href="./images/icons.svg#icon-diagram"></use>
              </svg>
            </div>
            <h3 class="title">Планирование</h3>
            <p class="description">
              Равным образом консультация с широким активом в значительной степени обуславливает.
            </p>
          </li>

          <li class="qualities-item">
            <div class="qualities-icon-container">
              <svg class="qualities-icon" width="70" height="70">
                <use href="./images/icons.svg#icon-astronaut"></use>
              </svg>
            </div>
            <h3 class="title">Современные технологии</h3>
            <p class="description">
              Значимость этих проблем настолько очевидна, что реализация плановых заданий.
            </p>
          </li>
        </ul>
      </div>
    </section>

    <!--Наши технологии-->
    <section class="technologies-section">
      <div class="container">
        <h2 class="section-title">Чем мы занимаемся</h2>
        <ul class="technologies list">
          <li class="technologies-item">
            <img
              src="./images/ourtechn.jpg"
              alt="процес кодинга на компьютере"
              width="370"
              height="294"
            />
            <div class="tech-wrap">
              <p class="technologies-text">Десктопные приложения</p>
            </div>
          </li>
          <li class="technologies-item">
            <img
              src="./images/ourtechn1.jpg"
              alt="выбор макета для моб.приложений"
              width="370"
              height="294"
            />
            <div class="tech-wrap">
              <p class="technologies-text">Мобильные приложения</p>
            </div>
          </li>
          <li class="technologies-item">
            <img
              src="./images/ourtechn2.jpg"
              alt="изображен симпл димпл на как приложение на плашете"
              width="370"
              height="294"
            />
            <div class="tech-wrap">
              <p class="technologies-text">Дизайнерские решения</p>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </div>